#######################################################################################################
#以下参数备份恢复都需要
#######################################################################################################

SERVER_IP = 192.168.6.253
SERVER_PORT = 9902

# 介质池id
DISKPOOLID = 1

# 任务sign标识
SIGN = test

# 故障检测时间
DETECT_TIME = 300

# 故障检测时间
TYPE = backup
#######################################################################################################
#以下参数备份时需要
#######################################################################################################
# 备份模式  ORACLE_INCREMENTAL_LEVEL0_BACKUP : 1 |ORACLE_INCREMENTAL_LEVEL1_BACKUP : 2	| ORACLE_ARCHIVE_BACKUP : 4
BACKUP_TYPE = 1

# 保留副本数（恢复不需要）
ROTATION_NUM = 5

# 备份的 CID（恢复不需要）
BACKUP_CID = {6F394F60-BD98-423f-8086-2EA10F75C4A9}

# 备份的数据源（恢复不需要）
DATA_SOURCE = orcl>><<sys>><<sys>><<

# 重复数据删除的块大小（恢复不需要）
DEDUP_BLK_SIZE = 4194304

# 压缩使用的CPU数，为0时不启用压缩
COMPRESS_CPU_NUM = 0

# Oracle备份时是否进行源端压缩
ORACLE_BACKUP_COMPRESS = 0

# Oracle的归档日志是否需要进行删除
ORACLE_BDELETE_ARC = 0

# Oracle的归档日志保留天数
ORACLE_BACKUP_ARC_KEEP_DAYS = 30

#Oracle BCT 文件存储路径
ORACLE_BCT_FILE_PATH = E:\\APP\\BCT\\


#######################################################################################################
#以下参数恢复时需要
#######################################################################################################
# oracle的恢复类型
ORACLE_RESTORE_TYPE = 1

# 要恢复的数据库的gns
RESTORE_GNS = gns://{6F394F60-BD98-423f-8086-2EA10F75C4A8}/EISOO/1377046127488000/Oracle_Complete/ORDB_ORCL_179_1_824028592

# 是否是单表恢复
ORACLE_SINGLE_TABLE_RESTORE = 0

# 恢复后是否市数据库联机
ORACLE_RESTORE_ONLINE = 0

# 任务是否包含多个客户端
MULTI_CLIENTS = 0


#######################################################################################################
#                分割线
#######################################################################################################
#DEDUPLICATION_DATA = enable